<!DOCTYPE html>
<html>
<head>
	<title> Biscuits </title>
</head>
<body>

	<a href='/biscuits/new'> New Biscuit </a>
	<a href='/biscuits'> Home </a>

	<!-- Insert Content Here -->
	<%= yield %>

</body>
</html>