<form action="/messages" method="post">
	<label for="name">User:</label>
	<input type="text" name="user">
	<div></div>
	<label for="text">Text:</label>
	<textarea name="text"></textarea>
	<input type="submit" value="Submit">
</form>