<form action="/biscuits/<%= @biscuit.id %>" method="post">
<input type="hidden" name="_method" value="PUT">
	<label for="name">Name:</label>
	<input type="text" name="name" value="<%= @biscuit.name %>">
	<div></div>
	<label for="text">Text:</label>
	<textarea name="text"> <%= @biscuit.text %> </textarea>
	<input type="submit" value="Submit">
</form>