<div class="left">
	<h1>Biscuits Index</h1>
	<% @biscuits.each do |biscuit| %>
		  <div class="col-sm-6 col-md-4">
		  	<a href="/biscuits/<%= biscuit.id %>">
			    <div class="thumbnail">
			      <img src="<%= biscuit.image_url %>" >
			      <div class="caption">
			         <h3><%= biscuit.name %></h3>
			      </div>
			    </div>
			</a>
		  </div>
	<% end %>
</div>

<div id="messages">
	<%= erb :"partials/messages" %>
</div>