<form action="/biscuits" method="post">
	<label for="name">Name:</label>
	<input type="text" name="name">
	<div></div>
	<label for="text">Text:</label>
	<textarea name="text"></textarea>
	<input type="submit" value="Submit">
</form>