#left {
	display: inline-block;
	vertical-align: top;
}

#messages {
	display: inline-block;
	float: right;
	width: 40%;
	/*height: 90vh;*/
	border: solid black 1px;
}

#message-list {
	height: 85vh;
	overflow: scroll;
}

#message-input {
	vertical-align: bottom;
}

#nav {
	display: block;
}