/*

PURPLE: #892596;

*/

#navbar-brand {
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	color: #892596;
}
 
.left {
	display: inline-block;
	vertical-align: top;
	width: 55%;
	margin: 10px;
	border: solid #892596 1px;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	border-radius: 3px;
	padding: 10px;
	position: relative;
	
}

.navbar-default .navbar-nav li a:hover {
	background: linear-gradient(#a289a5, #947299);
	color: white;
	text-shadow: none;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background: linear-gradient(#a289a5, #947299);
	color: white;
	text-shadow: none;
}

#top-row #title {
	margin-left: 100px;
	display:inline-block;
}

#thumbnails-container {
	columns: 3;
	padding: 15px;
/*	display: flex;
	flex-wrap: wrap;*/
}

.thumbnail {
	break-inside: avoid-column;
}

.navbar-default {
	z-index: 3;
	border-bottom: 1px solid #892596;	
}

#index-title {
	margin-left: 15px;
}

#nav {
	display: block;
}