/*

BLUE: #4786ed;

*/

.left {
	display: inline-block;
	vertical-align: top;
	width: 55%;
	margin: 10px;
	border: solid #4786ed 1px;
	box-shadow: 0 1px 2px rgba(0,0,0,.075);
	border-radius: 3px;
	padding: 10px;
	position: relative;
}

#top-row #title {
	margin-left: 100px;
	display:inline-block;
}

#above-rating {
	width: 100px;
    height: 30px;
    position: absolute;
    z-index: 2;
    background-color: white;
    left: -11px;
    top: -31px;
}

#left-rating {
	width: 30px;
    height: 100px;
    position: absolute;
    z-index: 2;
    background-color: white;
    left: -31px;
    top: -31px;
}

#thumbnails-container {
	columns: 3;
	padding: 15px;
/*	display: flex;
	flex-wrap: wrap;*/
}

.navbar-default {
	z-index: 3;
}

#index-title {
	margin-left: 15px;
}

#top-row #rating {
	margin-left: 10px;
	display: inline-block;
}

#rating {
	background-color: #4786ed;
    color: white;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    left: -26px;
    top: -48px;
    line-height: 101px;
    text-align: center;
}

#biscuit-text {
	border: none;
	box-shadow: none;
	display: inline-block;
	width: 55%;
}

#rate-form {
	display: inline-block;
	margin-top: 20px;
	margin-left: 10px;
}

#main-image {
	vertical-align: top;
	width: 200px;
	height: auto;
}

#delete-button {
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
}

#nav {
	display: block;
}